.header {
  position: fixed;
  left: 50px;
  top: 0;
  width: calc(100vw - 50px);
  height: 40px;
  background: #242525;
  transition: background 0.3s ease;
  @include respond-to(mobile) {
    // left: 30px;
    // width: calc(100vw - 30px);
    overflow-x: auto;
    left: 0;
    width: 100%;
  }
  .nav {
    &-menu {
      @include flexbox();
    }
    &-icon {
      width: 14px;
      margin-right: 10px;
    }
    &-item {
      color: $white;
      height: 40px;
      font-size: 14px;
      @include flexbox();
      padding: 10px 30px;
      background: #2d2d2d;
      @include align-items(center);
      border-right: 1px solid #232121;
      transition: all 0.3s ease;
      > span {
        margin-top: 2px;
      }
      &.active {
        font-weight: $bold;
        background: #1d1d1d;
      }
    }
  }
  .toggle-switch {
    position: absolute;
    top: 10px;
    right: 30px;
    @include respond-to(mobile) {
      top: 60px;
      right: 15px;
      position: fixed;
    }
  }
}

main {
  &.dark {
    .article {
      background: #fdfdfd;
    }
  }
}
