.rating {
  @extend %flexbox;
  @include flex-direction(row-reverse);
  @include justify-content(flex-end);
  &--type-2 {
    @include justify-content(flex-end);
    label {
      width: 25px !important;
      cursor: initial;
      &:before,
      &:after {
        font-size: 2.5rem !important;
      }
    }
  }
  &.rating-1 {
    #star5 ~ label:after {
      opacity: 1;
    }
  }
  &.rating-2 {
    #star4 ~ label:after {
      opacity: 1;
    }
  }
  &.rating-3 {
    #star3 ~ label:after {
      opacity: 1;
    }
  }
  &.rating-4 {
    #star2 ~ label:after {
      opacity: 1;
    }
  }
  &.rating-5 {
    #star1 ~ label:after {
      opacity: 1;
    }
  }
  > input {
    display: none;
  }
  label {
    display: block;
    width: 30px;
    height: 22px;
    cursor: pointer;
    &:before,
    &:after {
      content: "\e83a";
      font-family: "Material Icons";
      position: absolute;
      display: block;
      font-size: 3rem;
      color: rgba(0, 0, 0, 0.4);
    }
    &:after {
      content: "\e838";
      color: #ffaf00;
      opacity: 0;
      @include transition(all 0.5s);
    }
  }
  &--type-1 {
    padding: 0.5rem;
    label:hover:after,
    label:hover ~ label:after,
    input:checked ~ label:after {
      opacity: 1;
    }
  }
}

pre {
  background: #eeeeee;
  padding: 20px;
  min-height: 240px;
  max-height: 240px;
  > code {
    width: 100%;
    max-height: 200px;
    overflow: auto;
  }
}
